In [1]:
!pip intall sqlalchemy
!pip install psycopg2-binary
!pip intall urllib.parse

ERROR: unknown command "intall" - maybe you meant "install"
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.7/dist-packages (2.9.3)
ERROR: unknown command "intall" - maybe you meant "install"

In [2]:
import pandas as pd
import urllib.parse
import sqlalchemy as db
from sqlalchemy import create_engine

In [3]:
engine = db.create_engine("postgresql+psycopg2://postgres:%s@dataviz.csoufx6a9qqn.us-east-2.rds.amazonaws.com:5432/postgres" %urllib.parse.quote("Galaga43"))
conn = engine.connect()

In [4]:
vine_table_sql = conn.execute("SELECT * FROM vine_table WHERE total_votes >= 20").fetchall()
vine_table_df = pd.DataFrame(vine_table_sql)
vine_table_df = vine_table_df.rename(columns={0: "review_id", 1:"star_rating", 2:"helpful_votes", 3:"total_votes", 4:"vine", 5:"verified_purchase"})
helpful_votes = vine_table_df[vine_table_df["helpful_votes"] / vine_table_df["total_votes"] > 0.5]
helpful_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R4PKAZRQJJX14,1,21,34,N,N
1,R2CI0Y288CC7E2,1,21,35,N,Y
2,R127WEQY2FM1T3,1,147,175,N,Y
4,R2FJ94555FZH32,2,55,60,N,N
5,R1U3AR67RE273L,1,51,65,N,Y

#Â Vine Program

In [5]:
vine_program = helpful_votes[helpful_votes["vine"] == "Y"]
total_reviews_vp = len(vine_program["review_id"].unique())
five_star_reviews_vp = len(vine_program[vine_program["star_rating"] == 5]["review_id"].unique())
percentage_five_star_reviews_vp = round(five_star_reviews_vp / total_reviews_vp * 100, 2)
print(f"There are {total_reviews_vp} total reviews, {five_star_reviews_vp} of them having five stars, yielding a {percentage_five_star_reviews_vp}% percentage of five star reviews for the Vine Program.")

There are 94 total reviews, 48 of them having five stars, yielding a 51.06% percentage of five star reviews for the Vine Program.

# NOT Vine Program

In [6]:
not_vine_program = helpful_votes[helpful_votes["vine"] == "N"]
total_reviews_nvp = len(not_vine_program["review_id"].unique())
five_star_reviews_nvp = len(not_vine_program[not_vine_program["star_rating"] == 5]["review_id"].unique())
percentage_five_star_reviews_nvp = round(five_star_reviews_nvp / total_reviews_nvp * 100, 2)
print(f"There are {total_reviews_nvp} total reviews, {five_star_reviews_nvp} of them having five stars, yielding a {percentage_five_star_reviews_nvp}% percentage of five star reviews non-related to the Vine Program.")

There are 39915 total reviews, 15556 of them having five stars, yielding a 38.97% percentage of five star reviews non-related to the Vine Program.